alembic
babel
bcrypt
bidict
blinker
certifi
chardet
click
cryptography
distro
distro-info
dnspython
email_validator
eventlet
exceptiongroup
Flask
flask-babel
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
hyperframe
idna
importlib-metadata
itsdangerous
jeepney
Jinja2
keyring
lazr.restfulclient
lazr.uri
Mako
MarkupSafe
more-itertools
netifaces
oauthlib
packaging
pillow
pip
polib
PyJWT
pyparsing
python-dotenv
python-engineio
python-socketio
pytz
PyYAML
rfc3986
SecretStorage
setuptools
simple-websocket
six
sniffio
SQLAlchemy
tomli
typing_extensions
wadllib
Werkzeug
wheel
wsproto
WTForms
zipp
