alembic
bcrypt
blinker
click
dnspython
email_validator
Flask
Flask-Babel
Flask-Bcrypt
flask-cors
Flask-Login
Flask-Mail
Flask-Migrate
flask-socketio
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
pillow
pip
pycodestyle
python-dotenv
setuptools
SQLAlchemy
typing_extensions
Werkzeug
WTForms
googletrans==4.0.0-rc1
polib
