{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
      <!-- Media section for displaying user profile information -->
      <div class="media">
        <!-- User profile image -->
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <!-- User's username -->
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <!-- User's email -->
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
        <!-- Form for updating account information -->
        <form method="POST" action="" enctype="multipart/form-data">
            <!-- CSRF token for form submission security -->
            {{ form.hidden_tag() }}
            <!-- Fieldset for grouping form elements -->
            <fieldset class="form-group">
                <!-- Legend for grouping form fields -->
                <legend class="border-bottom mb-4">Account Info</legend>
                <!-- Username field -->
                <div class="form-group">
                    <!-- Label for the username field -->
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        <!-- Input field for username with validation errors -->
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <!-- Display errors if any -->
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <!-- Input field for username without errors -->
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Email field -->
                <div class="form-group">
                    <!-- Label for the email field -->
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        <!-- Input field for email with validation errors -->
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <!-- Display errors if any -->
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <!-- Input field for email without errors -->
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Profile picture upload field -->
                <div class="form-group">
                  <!-- Label for the profile picture field -->
                  {{ form.picture.label() }}
                  <!-- Input field for uploading profile picture -->
                  {{ form.picture(class="form-control-file") }}
                  {% if form.picture.errors %}
                      <!-- Display errors if any -->
                      {% for error in form.picture.errors %}
                          <span class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                  {% endif %}
              </div>
            </fieldset>
            <!-- Submit button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
