{% extends "layout.html" %}
{% block content %}
    <!-- Login form section -->
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <!-- Fieldset for grouping form elements -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ _('Log In') }}</legend>
                <!-- Email field -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <!-- Display errors if any -->
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Password field -->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <!-- Display errors if any -->
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Remember Me checkbox -->
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <!-- Submit button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <!-- Forgot Password link -->
                <small class="text-muted ml-2">
                    <a href="{{ url_for('users.reset_request') }}">{{ _('Forgot Password?') }}</a>
                </small>
            </div>
        </form>
    </div>
    <!-- Sign up link -->
    <div class="border-top pt-3">
        <small class="text-muted">
            {{ _('Need An Account?') }} <a class="ml-2" href="{{ url_for('users.register') }}">{{ _('Sign Up Now') }}</a>
        </small>
    </div>
{% endblock content %}
