{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if post.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">{{ _('Update') }}</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal-{{ post.id }}">{{ _('Delete') }}</button>
                    </div>
                {% endif %}
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>

            {% if post.image_filename %}
                <img src="{{ url_for('static', filename='post_pics/' + post.image_filename) }}" alt="{{ post.title }}" style="max-width: 100%; height: auto; border: none;">
            {% endif %}

            <p class="article-content">
                {{ post.content.split(' ')[:20] | join(' ') }}...
                <a href="#" class="read-more" data-full-content="{{ post.content }}">{{ _('Read more') }}</a>
            </p>
            <!-- Comment Icons -->
            <div class="comment-icons">
                <span class="icon add-comment-icon">💬</span>
                <span class="icon view-comments-icon">👁️</span>
            </div>
        </div>
    </article>

    <!-- Comment Form -->
    <div class="card my-4 comment-form" style="display: none;">
        <h5 class="card-header">{{ _('Leave a Comment:') }}</h5>
        <div class="card-body">
            <form action="{{ url_for('posts.add_comment') }}" method="POST">
                {{ comment_form.hidden_tag() }}
                <div class="form-group">
                    {{ comment_form.content.label(class="form-control-label") }}
                    {{ comment_form.content(class="form-control form-control-lg") }}
                </div>
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
            </form>
        </div>
    </div>

    <!-- Display Comments -->
    <div class="comments-display" style="display: none;">
        {% for comment in post.comments %}
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{ comment.author.username }}</h5>
                    {{ comment.content }}
                    <div class="mt-2">
                        {% if comment.author == current_user %}
                            <button class="btn btn-link edit-comment-icon" style="font-size: 18px;" data-comment-id="{{ comment.id }}">✏️</button>
                            <button class="btn btn-link delete-comment-icon" style="font-size: 18px;" data-comment-id="{{ comment.id }}">🗑️</button>
                        {% endif %}
                        <span class="icon reply-icon">↩️</span>
                        <div class="reply-form" style="display: none;">
                            <form action="{{ url_for('posts.add_comment') }}" method="POST">
                                {{ reply_form.hidden_tag() }}
                                <div class="form-group">
                                    {{ reply_form.content.label(class="form-control-label") }}
                                    {{ reply_form.content(class="form-control form-control-sm") }}
                                </div>
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">
                                <button type="submit" class="btn btn-secondary btn-sm">{{ _('Reply') }}</button>
                            </form>
                        </div>
                    </div>
                    <!-- Display Replies -->
                    {% for reply in comment.replies %}
                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="{{ url_for('static', filename='profile_pics/' + reply.author.image_file) }}" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">{{ reply.author.username }}</h5>
                                {{ reply.content }}
                                <div class="mt-2">
                                    {% if reply.author == current_user %}
                                        <button class="btn btn-link edit-reply-icon" style="font-size: 18px;" data-reply-id="{{ reply.id }}">✏️</button>
                                        <button class="btn btn-link delete-reply-icon" style="font-size: 18px;" data-reply-id="{{ reply.id }}">🗑️</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-{{ post.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel-{{ post.id }}">{{ _('Are you sure you want to delete this post?') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="{{ _('Delete') }}">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        const postId = "{{ post.id }}";
    </script>
    <script src="{{ url_for('static', filename='js/post-comments.js') }}"></script>
{% endblock content %}
